main {
    max-width:1200px; margin:0 auto; margin-top:100px;
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
/* sub_left */
main .healthfood_target {padding:115px 0 0; width:100%; margin-right:20px;}
main .healthfood_target nav {display:flex; flex-flow:row nowrap; align-items:center; margin-bottom:20px;}
main .healthfood_target nav a {}
main .healthfood_target nav img {width:16px; margin:0 10px;}
main .healthfood_target .s_hf_product {display:flex; flex-flow:column nowrap;}
main .healthfood_target .s_hf_product .s_product_line {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; width:100%; margin-bottom:50px;
}
main .healthfood_target .s_hf_product .s_product_line .s_product {position:relative;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents {
    position:relative; border:1px solid #00b6f0; border-radius:20px;
    padding:30px; z-index:998; background-color:#fff;
    transition:0.2s;
}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a {width:100%;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a .productImg_g {margin-bottom:25px;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a .productImg_g img {display:inlie-block; width:200px;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a .productImg_g .tag {width:73px; position:absolute; left:40px; top:40px;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a h2 {font-size:1.063rem; margin-bottom:20px;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a p * {line-height:1.4;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a .price {font-size:1.25rem;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a .price span {font-size:1.25rem; font-weight:700;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a .point {}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents > a .point span {font-weight:700;}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents .cart {
    border:0; display:block; background-image:url(../images/logo/shopping_big.png);
    background-repeat:no-repeat; z-index:999; width:60px; height:60px;
    background-size:cover; text-indent:-9999px; position:absolute; top:160px; right:40px;
}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_contents .cart:hover {
    border:0; display:block; background-image:url(../images/logo/shopping_big_hover.png);
    background-repeat:no-repeat; z-index:999; width:60px; height:60px;
    background-size:cover; text-indent:-9999px; position:absolute; top:160px; right:40px;
}
main .healthfood_target .s_hf_product .s_product_line .s_product .product_hover {
    border-radius:20px; width:100%; height:100%;
    background-image:url(../images/logo/product_hover.png);
    background-size:100%;
    position:absolute; left:0; top:0;  z-index:997;
}
/* sub_right */
main .s_menu {
    width:285px; padding:0 20px;
    float:right; overflow:hidden;
}
main .s_menu h1 {text-align:right; font-size:2rem; font-weight:700; font-style:italic; margin:50px 0;}
main .s_menu ul {}
main .s_menu ul > li {}
main .s_menu ul > li > a {
    display:flex; justify-content:space-between;
    align-items:center; padding:10px 0; height:50px;
}
main .s_menu ul > li > a img {width:16px;}
main .s_menu ul > li .sm_subMenu {}
main .s_menu ul > li .sm_subMenu li {}
main .s_menu ul > li .sm_subMenu li a {
    display:flex; flex-flow:row nowrap; justify-content:left; padding-left:30px;
}
main .s_menu ul > li .sm_subMenu li a span {
    display:inline-block; width:8px; height:8px; border:1px solid #222; border-radius:50%;
    margin-right:10px;
}