@media screen and (max-width:1024px){/* tablet 768-1024 */

    /* nav */
    .header_bg header .gnb > ul > li > a {padding-right:60px;}
    .header_bg header .nav_bg {display:block;}
    .header_bg header .gnb > ul > li > .sub {display:block;}

}

@media screen and (max-width:860px){/* mobile 767-879 */

    /* header */
    .header_bg header {display:flex; flex-flow:row nowrap; height:100px; line-height:100px;}
    .header_bg header .gnb {display:none;}
    .header_bg header .h_right {display:none;}
    .header_bg header .m_nav {display:block;}
    /* p2 */

    /* p3 */
    main .brandshop_bg .p3_brandshop h1 {margin-bottom:30px;}

    /* p4,p6,p7 */
    main .main .product_g {}
    main .main .product_g .product:nth-child(4) {display:none;}
    main .brandshop_bg .p3_brandshop .bs_contents a:nth-of-type(1) {margin-right:0;}
    main .brandshop_bg .p3_brandshop .bs_contents a:nth-of-type(2) {display:none;}

}

@media screen and (max-width:768px){

    main .main h1 {font-size:1.25rem; font-style:italic; margin-bottom:30px;}
main .main h1 span {font-size:1.25rem; font-weight:700; font-style:italic;}

    .p1_bnr .swiper-container {width:100%; height:260px;}
    .p1_bnr .swiper-contailner .swiper-wrapper {width:100%;}
    .p1_bnr .swiper-contailner .swiper-wrapper .swiper-slide {width:100%;}

    /* p4,p6*/
    main .main .category {margin-bottom:30px;}
    main .main .category div a {font-size:0.875rem; margin-right:0;}
    main .main .product_g {justify-content:center;}
    main .main .product_g .product:nth-child(2) {display:none;}
    main .main .product_g .product:nth-child(3) {display:none;}
    main .main .product_g .product .product_contents > a .productImg_g {}
    main .main .product_g .product .product_contents > a .productImg_g img {}
    main .main .product_g .product .product_contents > a .productImg_g .tag {}
    main .main .product_g .product .product_contents > a h2 {}
    main .main .product_g .product .product_contents > a p * {}
    main .main .product_g .product .product_contents > a p:nth-of-type(1) {font-size:1.25rem;}
main .main .product_g .product .product_contents > a p:nth-of-type(1) span {font-size:1.25rem; font-weight:700;}
main .main .product_g .product .product_contents > a p:nth-of-type(2) {}
main .main .product_g .product .product_contents > a p:nth-of-type(2) span {font-weight:700;}
main .main .product_g .product .product_contents .cart {
    border:0; display:block; background-image:url(../images/logo/shopping_big.png);
    background-repeat:no-repeat; z-index:999; width:60px; height:60px;
    background-size:cover; text-indent:-9999px; position:absolute; top:160px; right:40px;
}
main .main .product_g .product .product_contents .cart:hover {
    border:0; display:block; background-image:url(../images/logo/shopping_big_hover.png);
    background-repeat:no-repeat; z-index:999; width:60px; height:60px;
    background-size:cover; text-indent:-9999px; position:absolute; top:160px; right:40px;
}
main .main .product_g .product .product_hover {
    border-radius:20px; width:100%; height:100%;
    background-image:url(../images/logo/product_hover.png);
    background-size:100%;
    position:absolute; left:0; top:0;  z-index:997;
}

    /* p7 mlv_category */
    main .main .mlv_category {display:block;}
    main .main .lv_category {display:none;}

}